/*== BU Buttons: RED AND GREEN CONFIRM/DENY RENEWAL WIDGET BUTTONS ==*/

.bu-button-green {
  margin-top: 20px;

  display: inline-block;
  margin: 0 8px 10px 0;
  padding: 6px 18px;
  white-space: nowrap;
  transition: background .2s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border: dotted 1px transparent;
  border-radius: 3px;

  font-weight: 500;
  background-color: #0fb000;
  color: #fff !important;
}

.bu-button-green:focus,
.bu-button-green:hover {
  background-color: #13294B;
  border: dotted 1px black;
}


.bu-button-red {
  margin-top: 20px;

  display: inline-block;
  margin: 0 8px 10px 0;
  padding: 6px 18px;
  white-space: nowrap;
  transition: background .2s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border: dotted 1px transparent;
  border-radius: 3px;

  font-weight: 500;
  background-color: #e0000f; 
  color: #fff !important;
}

.bu-button-red:focus,
.bu-button-red:hover {
  background-color: #13294B;
  border: dotted 1px black;
}