{% extends "base.html" %}

{% block content %}

<p>Hello {{ data['name'] }},</p>

<p><strong>IMPORTANT</strong>: you are receiving this message because you are the 
administrator for one or more Blogs @ Butler sites that have become inaccessible.</p>

<p>Our records indicate that the renewal date has passed without renewal confirmation
 for the following sites. Therefore, the accounts listed below have been disabled.</p>

<table>
    <thead>
        <tr>
            <th>Blog Name</th>
            <th>Renewal Date</th>
        </tr>
    </thead>
    <tbody>
    {% for row in data['notices'] %}
    <tr>
        <td><a href="https://blogs.butler.edu{{ row['site'] }}" target="_blank" >https://blogs.butler.edu{{ row['site'] }}</a></td>
        <td>{{ row['renewal_due_date'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>If there seems to be an error regarding your site(s) renewal, please contact the Butler IT Help Desk atplease submit a case for Information Technology 
    via <a href="https://ask.butler.edu/">https://ask.butler.edu</a>.
</p>
 {% endblock %}
