<style type=""text/css">
TABLE {border-width: 1px;border-style: solid;border-color: black;border-collapse: collapse;}
TH {border-width: 1px;padding: 5px;border-style: solid;border-color: black;background-color:rgb(204, 204, 204)}
TD {border-width: 1px;padding: 5px;border-style: solid;border-color: black;background-color:White}
</style>

<div>
    {% block content %}
    {% endblock %}
</div>

<div>
    {% block signature %}    
    <p>Thank you,<br />
    Information Technology<br />
    Web: <a href="https://ask.butler.edu">https://ask.butler.edu</a><br />
    Phone: <a href="tel:317-930-4357">317-940-HELP (4357)</a><br />
    </p>
    <strong>PLEASE DO NOT REPLY TO THIS EMAIL</strong>
    {% endblock %}
</div>