{% extends "base.html" %}

{% block content %}

<p>Hello {{ data['name'] }},</p>

<p><strong>IMPORTANT</strong>: you are receiving this message because you are the 
administrator for one or more Blogs @ Butler sites that will soon 
be inaccessible.</p>

<p>Our records indicate that the following sites have an impending renewal confirmation
 date. If the date passes and the sites have not been renewed, it will be archived for 90 days and then deleted.
 </p>

<table>
    <thead>
        <tr>
            <!-- <th>User Name</th> -->
            <!-- <th>Blog ID</th> -->
            <th>Blog Name</th>
            <th>Renewal Date</th>
            <th>Days Until Archival</th>
        </tr>
    </thead>
    <tbody>
    {% for row in data['notices'] %}
    <tr>
        <!-- <td>{{ data['admin'] }}</td> -->
        <!-- <td>{{ row['ID'] }}</td> -->
        <td><a href="https://blogs.butler.edu{{ row['site'] }}" target="_blank" >https://blogs.butler.edu{{ row['site'] }}</a></td>
        <td>{{ row['renewal_due_date'] }}</td>
        <td>{{ row['archival_countdown'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>If you have technology questions, please submit a case for Information Technology 
    via <a href="https://ask.butler.edu/">https://ask.butler.edu</a>.</p>

 {% endblock %}
